.env*
.well-known
.DS_Store
.github
.git

# MCP inspection logs
mcp.out
fastmcp.out

# python related
*.nbdev
/nbdev-template*
/venv*.txt
*.sorted
*.unsorted
*.pp.json
__pycache__

/assets/artifacts
/assets/artifacts.old
/assets/fastmcp/docs
/assets/fastmcp/src
/assets/marimo*
/assets/node_modules

/xmp/node_modules

/target
/bin
/result
/logs
/old
*.old

# mdbook output
/docs/book
